/* header.ejs */

@font-face {
    font-family: Luckiest_Guy;
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    font-family: Poppins;
}

body h1 {
    text-align: center;
    font-family: Luckiest_Guy;
}

.btn {
    background-color:#fccb06 !important;
    border: none !important;
    color: black !important;
}

.btn:hover {
    background-color:#e7be1bfd !important;
}

.navbar-brand {
    font-family: Luckiest_Guy !important;
}

/* home.ejs */
.main-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.container .col-sm {
    padding-bottom: 30px;
}

.btn-primary {
    background-color:#fccb06 !important;
    border: none !important;
    color: black !important;
}

.btn-primary:hover {
    background-color:#e7be1bfd !important;
}

.list-group-item p {
    display: inline;
}

/* signup_form */
form h1 {
    padding: 30px;
    font-family: Luckiest_Guy !important;
}

/* footer.ejs */
footer {
    margin-top: auto;
}