/* header.ejs */

@font-face {
    font-family: Luckiest_Guy;
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.body-wrapper {
    font-family: Roboto;
}

body h1 {
    text-align: center;
    font-family: Luckiest_Guy;
}

/* home.ejs */
.main-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.strain_tried {
    text-align: center;
}

#strain_tried {
    background-color: #8CC7A1;
    border: none;
    color: black;
}

#strain_tried:hover {
    background-color: #8CC7A1;
    border: solid black;
    color: black;
}
